<module>
	<rawname>parking</rawname>
	<repo>standard</repo>
	<name>Parking Lot</name>
	<version>13.0.12</version>
	<publisher>Ringfree</publisher>
	<license>GPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/gpl-3.0.txt</licenselink>
	<category>Applications</category>
	<description>Manages parking lot extensions and other options.
	Parking is a way of putting calls "on hold", and then picking them up from any extension.
	</description>
	<changelog>
		*13.0.12* Add Park to your Assigned Lot feature code
		*13.0.11* Support drop down Alert Info
		*13.0.10* FREEPBX-10450
		*13.0.9* FREEPBX-10657 Make id auto_increment
		*13.0.8* Adjust layout to allow slideout menus
		*13.0.7* FREEPBX-10447 Stop reverting destinations in parking lots
		*13.0.6* FREEPBX-9138 change int to bigint
		*13.0.5* FREEPBX-10217 Fix parking form
		*13.0.4* Remove duplicated numeric checker which is bad
		*13.0.3* FREEPBX-9542 Editing a Parking Lot Creates New Lot Instead
		*13.0.2* Version bump Beta
		*13.0.1alpha5* FREEPBX-9467 Update search hooks
		*13.0.1alpha4* No device null error
		*13.0.1alpha3* Restructure translations
		*13.0.1alpha2* FREEPBX-8904 Fix park return routing in Asterisk 13.2 and higher
		*13.0.1alpha1* Fix saving in 13 with PDO
	</changelog>
	<menuitems>
		<parking>Parking</parking>
	</menuitems>
	<depends>
		<module>core ge 13.0.22</module>
		<module>callrecording ge 12.0.1</module>
		<version>13.0.42</version>
	</depends>
	<supported>
		<version>13.0</version>
	</supported>
	<location>release/13.0/parking-13.0.12.tgz</location>
	<md5sum>8cd1faaf2d3e7e1be3f18f96c499ebda</md5sum>
</module>
