<module>
	<rawname>languagestatus</rawname>
	<repo>unsupported</repo>
	<name>Language Status</name>
	<version>2.10.0.0</version>
	<publisher>Ringfree</publisher>
	<license>GPLv2+</license>
	<description>Show the number of translated strings for a given language</description>
	<category>Admin</category>
	<menuitems>
		<languagestatus>Language Status</languagestatus>
	</menuitems>
  <depends>
   <version>ge2.9</version>
  </depends>
	<changelog>
		*2.10.0.0* new version changes
		*2.9.0.0* First release
	</changelog>
<md5sum>f538d169514e36e4b12123e6aaeb96a7</md5sum>
<location>release/13.0/languagestatus-2.10.0.0.tgz</location>
</module>
